<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>GameHub</title>
    <% if(typeof css !== 'undefined'){ %> <!--Alternative locals.isDiceRoller-->
      <link rel="stylesheet" href="/css/<%= css %>">
    <% } %>
    <link rel="stylesheet" href="/css/style.css">
</head>
</head>

<body>
    <header>
        <h1>
            <a href="/">GameHub</a>
        </h1>
        <nav>
            <ul>
            <% games.forEach(game=> { %>
                <li><a href="/game/<%= game.name %>"><%= game.title %></a></li>
            <% }); %>
            </ul>
        </nav>
    </header>

    <h3>
        <% if (typeof title !=='undefined' ){ %>
            <%= title %>
        <% } else { %>
            Choisissez un jeu ci-dessus
        <% } %>
    </h3>