
  <link rel="stylesheet" href="../css/reset.css">
  

  

<%- include("partials/header");%>

<div class="container">
  <div id="board"></div>
</div>
  <script src="/js/rpg.js" charset="utf-8"></script>
</body>

</html>